<h1>Article</h1>
Title : <%=@article.title%><br>
Description : <%=@article.title%>
<br>
<hr>
<h1>All Comments </h1><hr>
<% if user_signed_in? %>
	<%if current_user.email == @email%>
		<% @comment.each do |allcomments|%>
			Commenter Name: <%=allcomments.c_name%><br>
			Comment Description: <%=allcomments.c_description%><br><hr>
		<%end%>
	<%else%>
		<% @comment.each do |allcomments|%>
			<% if allcomments.c_approval_status == "1" %>
				Commenter Name: <%=allcomments.c_name%><br>
				Comment Description: <%=allcomments.c_description%><br><hr>
			<% end %>
		<%end%>
	<%end%>
<%else%>
	<% @comment.each do |allcomments|%>
			<% if allcomments.c_approval_status == "1" %>
				Commenter Name: <%=allcomments.c_name%><br>
				Comment Description: <%=allcomments.c_description%><br><hr>
			<% end %>
		<%end%>
<%end%>
<%= will_paginate @comment %>
<%= link_to "Show all Articles", user_articles_path(@article_user_email.id)%>
<h2>Make Comment</h2>

<%= render 'form' %>

