<% if user_signed_in? %>
		All Articles
		<table border = 1>
			<tr>
				<th>
					Title
				</th>
				<th>
					Description
				</th>
				<th>
					Edit
				</th>
			</tr>
				<%@article.each do |all|%>
				<tr>
					<td>
						<%= all.title%>
					 </td>
					 <td>
						<%= all.description%>
					 </td>
					 <td>
						<%= link_to "show all", new_article_comment_path( all.id )%>
					 </td>
				 </tr>
				<%end%>
		</table>
		<br />
		<%= link_to 'New Article',  new_user_article_path(current_user.id) %>
<%else%>
		<h2>All Articles<h2>
		<table border = 1>
		<tr>
			<th>
				Title
			</th>
			<th>
				Description
			</th>
			<th>
				Make comment
			</th>
		</tr>
			<%@articles.each do |all|%>
			<tr>
				<td>
					<%= all.title%>
				 </td>
				 <td>
					<%= all.description%>
				 </td>
				  <td>
					<%= link_to "comment",  new_article_comment_path(all.id)%>
				 </td>
			 </tr>
			<%end%>
		</table>
<%end%>
