<div id ="new_look">
<%= form_for [@user, @user.articles.build] do |f| %>
  <table>
  <tr>
    <td><%= f.label "Title" %></td>
    <td><%= f.text_field :title %></td>
   </tr>
  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_area :description %></td>
   </tr>
 <tr>
    <td><%= f.submit :id => "buttonstyle"%></td>
  </tr>
    </table>
<% end %>
</div >
<style>
	#new_look{background: #F5FCFC;  border-radius: 5px 5px 5px 5px;
    margin-left: 50px;
    max-width: 65%;}
    #tdleft{float: right; top: 9px; position: relative;}
    textarea {
    resize: none;
    cols: 20;
    rows: 40;
    width: 462px; height: 214px;
    }
     #buttonstyle
{
		-moz-user-select: none;
		border: medium none;
		border-radius: 5px 5px 5px 5px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
		color: #FFFFFF !important;
		cursor: pointer;
		display: inline-block;
		padding: 5px 10px !important;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), -2px 0 1px rgba(0, 0, 0, 0.25);
		background-color: #015EA9;
		text-decoration:none;
}
</style>
