
<div class="navigation">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> or
    <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %> or <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <% end %>
</div>
<style>
.navigation {
    background-image: url(../header.PNG);
    height: 45px;
    margin: -8px;
     padding: 0 0 4px;
}
</style>
