<!DOCTYPE html>
<html>
<head>
  <title>Rorhub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navigation">
  <% if user_signed_in? %>
    <span class = "textcolor"> Signed in as <%= current_user.email %>. Log-out</span>
   <%= button_to "", destroy_user_session_path, :method => :delete, :id => "signout" %>
  <% else %>
    <%= button_to "", new_user_registration_path, :id => "signup" %><%= button_to "", new_user_session_path, :id => "signin" %>
    <%= button_to "", user_omniauth_authorize_path(:google_oauth2) , :id => "googlesignin"%>  <%= button_to "", user_omniauth_authorize_path(:facebook) , :id => "facebooksignin"%>
  <% end %>
</div>
<%= yield %>

</body>
</html>
<style>
	.textcolor{color: #FFFFFF;
    position: relative;
    top: 11px;}
	.navigation {
   background-image:url('/assets/header.png');
    height: 45px;
    margin: -8px;
     padding: 0 0 4px;
}
#signout{  background-image: url("/assets/run.png");
    background-position: -2px -2px;
    background-size: 28px auto;
    float: right;
    height: 29px;
    position: relative;
    right: 74%;
    top: -7px;
    width: 2%;}
#signup{    background-image: url("/assets/singup.png");
    background-position: -2px -2px;
    background-size: 29px auto;
    float: right;
    height: 30px;
    position: relative;
    right: 17%;
    top: 12px;
    width: 2%;}
#signin{     background-image: url("/assets/normaluser.png");
    background-position: -2px -2px;
    background-size: 29px auto;
    float: right;
    height: 30px;
    position: relative;
    right: 12%;
    top: 11px;
    width: 2%;}
#googlesignin{   background-image: url("/assets/google.png");
    background-position: -2px -2px;
    background-size: 29px auto;
    float: right;
    height: 30px;
    position: relative;
    right: 7%;
    top: 11px;
    width: 2%;}

#facebooksignin{  background-image: url("/assets/facebook.png");
    background-position: -2px -2px;
    background-size: 30px auto;
    float: right;
    height: 30px;
    position: relative;
    right: 2%;
    top: 11px;
    width: 2%;}

	</style>
